# 02. BioLip Preprocessing

In [1]:
import pandas as pd
import numpy as np
from gemmi import cif

Download BioLip2 here: https://zhanggroup.org/BioLiP/download/BioLiP.txt.gz

In [2]:
PATH_TO_BIOLIP = '../../mol-finder/data/raw/biolip/BioLiP.txt.gz'
biolip = pd.read_csv(PATH_TO_BIOLIP, compression='gzip', sep='\t', header=None)
biolip

/var/tmp/ipykernel_114923/4103817854.py:2: DtypeWarning: Columns (9,10,13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  biolip = pd.read_csv(PATH_TO_BIOLIP, compression='gzip', sep='\t', header=None)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,101m,A,2.07,BS01,HEM,A,1,F43 R45 V68 S92 H93 H97 I99 Y103,F44 R46 V69 S93 H94 H98 I100 Y104,NaN,...,"1.11.1.-,1.7.-.-","0004601,0005344,0005737,0015671,0016491,001652...",NaN,NaN,NaN,NaN,P02185,NaN,155,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...
1,102m,A,1.84,BS01,HEM,A,1,F43 R45 T67 L89 S92 H93 H97 I99 Y103,F44 R46 T68 L90 S93 H94 H98 I100 Y104,NaN,...,"1.11.1.-,1.7.-.-","0004601,0005344,0005737,0015671,0016491,001652...",NaN,NaN,NaN,NaN,P02185,NaN,155,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...
2,103m,A,2.07,BS01,HEM,A,1,F43 R45 S92 H93 H97 I99 Y103,F44 R46 S93 H94 H98 I100 Y104,NaN,...,"1.11.1.-,1.7.-.-","0004601,0005344,0005737,0015671,0016491,001652...",NaN,NaN,NaN,NaN,P02185,NaN,155,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...
3,104m,A,1.71,BS01,HEM,A,1,F43 R45 V68 S92 H93 H97 I99 Y103 F138,F43 R45 V68 S92 H93 H97 I99 Y103 F138,NaN,...,"1.11.1.-,1.7.-.-","0004601,0005344,0005737,0015671,0016491,001652...",NaN,NaN,NaN,NaN,P02185,NaN,155,VLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDRF...
4,105m,A,2.02,BS01,HEM,A,1,F43 R45 H64 V68 L89 H93 H97 I99,F43 R45 H64 V68 L89 H93 H97 I99,NaN,...,"1.11.1.-,1.7.-.-","0004601,0005344,0005737,0015671,0016491,001652...",NaN,NaN,NaN,NaN,P02185,NaN,155,VLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDRF...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893525,9xim,C,2.40,BS02,MN,C,1,E181 E217 D245 D292,E178 E214 D242 D289,H54 D57 M88 E181 K183 E217 H220 D245 D255 D257...,...,5.3.1.5,"0000287,0005737,0005975,0009045,0016853,004273...",NaN,NaN,NaN,NaN,P12851,1610791.0,395,QATREDKFSFGLWTVGWQARDAFGDATRTALDPVEAVHKLAEIGAY...
893526,9xim,C,2.40,BS03,MN,C,2,E217 H220 D255 D257,E214 H217 D252 D254,H54 D57 M88 E181 K183 E217 H220 D245 D255 D257...,...,5.3.1.5,"0000287,0005737,0005975,0009045,0016853,004273...",NaN,NaN,NaN,NaN,P12851,1610791.0,396,QATREDKFSFGLWTVGWQARDAFGDATRTALDPVEAVHKLAEIGAY...
893527,9xim,D,2.40,BS01,XLS,D,1,H54 W137 E181 K183 H220 D292,H52 W135 E179 K181 H218 D290,H54 D57 M88 E181 K183 E217 H220 D245 D255 D257...,...,5.3.1.5,"0000287,0005737,0005975,0009045,0016853,004273...",NaN,NaN,NaN,NaN,P12851,1610791.0,397,VQATREDKFSFGLWTVGWQARDAFGDATRTALDPVEAVHKLAEIGA...
893528,9xim,D,2.40,BS02,MN,D,1,E181 E217 D245 D292,E179 E215 D243 D290,H54 D57 M88 E181 K183 E217 H220 D245 D255 D257...,...,5.3.1.5,"0000287,0005737,0005975,0009045,0016853,004273...",NaN,NaN,NaN,NaN,P12851,1610791.0,395,VQATREDKFSFGLWTVGWQARDAFGDATRTALDPVEAVHKLAEIGA...
893529,9xim,D,2.40,BS03,MN,D,2,E217 H220 D255 D257,E215 H218 D253 D255,H54 D57 M88 E181 K183 E217 H220 D245 D255 D257...,...,5.3.1.5,"0000287,0005737,0005975,0009045,0016853,004273...",NaN,NaN,NaN,NaN,P12851,1610791.0,396,VQATREDKFSFGLWTVGWQARDAFGDATRTALDPVEAVHKLAEIGA...

Instead of having SMILES of the ligands, BioLip contains ligand ids in the Chemical Component Dictionary used by PDB database. We need to convert them back to SMILES.

Download the CCD: https://files.wwpdb.org/pub/pdb/data/monomers/components.cif

In [3]:
PATH_TO_CCD = '../../mol-finder/data/raw/biolip/components.cif'
ccd = cif.read(PATH_TO_CCD)
ccd

In [4]:
# Parse SMILES from CCD
ligand_ids = list(set(biolip[4].to_list()))
ligand_smiles = []
for ligand_id in ligand_ids:
    try:
        ligand = ccd[ligand_id]
    except:
        ligand_smiles.append(None)
        continue
    descriptor_types = list(ligand.find_values('_pdbx_chem_comp_descriptor.type'))
    is_smiles_found = False
    for i, dtype in enumerate(descriptor_types):
        if dtype == 'SMILES':
            ligand_smiles.append(ligand.find_values('_pdbx_chem_comp_descriptor.descriptor')[i].strip('"'))
            is_smiles_found = True
            break
    if not is_smiles_found:
        ligand_smiles.append(None)

In [5]:
ligand_to_smiles = dict(zip(ligand_ids, ligand_smiles))
result_smiles = biolip[4].map(ligand_to_smiles)

Now let's process the activities

In [6]:
result = biolip[[0, 13, 14, 15, 16, 17, 20]]
result.columns = [
    'PDB',
    'activity_lit',
    'activity_bmoad',
    'activity_pdbbind',
    'activity_bdb',
    'uniprot_id',
    'sequence',
]
result['smiles'] = result_smiles
result

/var/tmp/ipykernel_114923/2874876037.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['smiles'] = result_smiles

,PDB,activity_lit,activity_bmoad,activity_pdbbind,activity_bdb,uniprot_id,sequence,smiles
0,101m,NaN,NaN,NaN,NaN,P02185,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,C=1c3c(c(c4C=C5C(=C(C=6C=C7C(=C(C8=CC=2C(=C(C=...
1,102m,NaN,NaN,NaN,NaN,P02185,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,C=1c3c(c(c4C=C5C(=C(C=6C=C7C(=C(C8=CC=2C(=C(C=...
2,103m,NaN,NaN,NaN,NaN,P02185,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,C=1c3c(c(c4C=C5C(=C(C=6C=C7C(=C(C8=CC=2C(=C(C=...
3,104m,NaN,NaN,NaN,NaN,P02185,VLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDRF...,C=1c3c(c(c4C=C5C(=C(C=6C=C7C(=C(C8=CC=2C(=C(C=...
4,105m,NaN,NaN,NaN,NaN,P02185,VLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDRF...,C=1c3c(c(c4C=C5C(=C(C=6C=C7C(=C(C8=CC=2C(=C(C=...
...,...,...,...,...,...,...,...,...
893525,9xim,NaN,NaN,NaN,NaN,P12851,QATREDKFSFGLWTVGWQARDAFGDATRTALDPVEAVHKLAEIGAY...,[Mn+2]
893526,9xim,NaN,NaN,NaN,NaN,P12851,QATREDKFSFGLWTVGWQARDAFGDATRTALDPVEAVHKLAEIGAY...,[Mn+2]
893527,9xim,NaN,NaN,NaN,NaN,P12851,VQATREDKFSFGLWTVGWQARDAFGDATRTALDPVEAVHKLAEIGA...,O=CC(O)C(O)C(O)CO
893528,9xim,NaN,NaN,NaN,NaN,P12851,VQATREDKFSFGLWTVGWQARDAFGDATRTALDPVEAVHKLAEIGA...,[Mn+2]
893529,9xim,NaN,NaN,NaN,NaN,P12851,VQATREDKFSFGLWTVGWQARDAFGDATRTALDPVEAVHKLAEIGA...,[Mn+2]

In [7]:
lit = ~result['activity_lit'].isna()
moad = ~result['activity_bmoad'].isna()
pdbbind = ~result['activity_pdbbind'].isna()
bdb = ~result['activity_bdb'].isna()
has_activity = lit | moad | pdbbind | bdb

In [8]:
result_with_actives = result[has_activity]
result_with_actives

,PDB,activity_lit,activity_bmoad,activity_pdbbind,activity_bdb,uniprot_id,sequence,smiles
9,10gs,NaN,Ki=0.4uM,"-logKd/Ki=6.40,Ki=0.4uM",Ki=420nM,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,O=C(O)C(N)CCC(=O)NC(C(=O)NC(c1ccccc1)C(=O)O)CS...
10,10gs,NaN,Ki=0.4uM,"-logKd/Ki=6.40,Ki=0.4uM",Ki=420nM,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,O=C(O)C(N)CCC(=O)NC(C(=O)NC(c1ccccc1)C(=O)O)CS...
38,11gs,NaN,NaN,"-logKd/Ki=5.82,Ki=1.5uM",NaN,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,O=C(NCC(=O)O)C(NC(=O)CCC(C(=O)O)N)CS
39,11gs,NaN,NaN,"-logKd/Ki=5.82,Ki=1.5uM",IC50=2.6e+4nM,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,Clc1c(C(=O)\C(=C)CC)ccc(OCC(=O)O)c1Cl
40,11gs,NaN,NaN,"-logKd/Ki=5.82,Ki=1.5uM",NaN,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,O=C(NCC(=O)O)C(NC(=O)CCC(C(=O)O)N)CS
...,...,...,...,...,...,...,...,...
893362,9icd,NaN,Kd=125uM,"-logKd/Ki=3.90,Kd=125uM",NaN,P08200,SKVVVPAQGKKITLQNGKLNVPENPIIPYIEGDGIGVDVTPAMLKV...,NC(=O)c1ccc[n+](c1)[CH]2O[CH](CO[P]([O-])(=O)O...
893416,9icu,NaN,NaN,NaN,IC50=1400nM,P06746,ETLNGGITDMLTELANFEKNVSQAIHKYNAYRKAASVIAKYPHKIK...,O=P(O)(O)OP(=O)(O)OP(=O)(O)OCC2OC(N1C(=O)NC(=O...
893502,9nse,NaN,Ki=0.039uM,NaN,NaN,P29473,GPKFPRVKNWELGSITYDTLCAQSQQDGPCTPRRCLGSLVLPRKLQ...,[N@H]=C([Se]CC)N
893508,9nse,NaN,Ki=0.039uM,NaN,NaN,P29473,KFPRVKNWELGSITYDTLCAQSQQDGPCTPRRCLGSLVLPRKLQTR...,[N@H]=C([Se]CC)N
893509,9nse,NaN,Ki=0.039uM,NaN,NaN,P29473,KFPRVKNWELGSITYDTLCAQSQQDGPCTPRRCLGSLVLPRKLQTR...,[N@H]=C([Se]CC)N

In [9]:
# We don't need BDB data, because we will join it later
no_bdb = result_with_actives['activity_bdb'].isna()
result_no_bdb = result_with_actives[no_bdb]
result_no_bdb

,PDB,activity_lit,activity_bmoad,activity_pdbbind,activity_bdb,uniprot_id,sequence,smiles
38,11gs,NaN,NaN,"-logKd/Ki=5.82,Ki=1.5uM",NaN,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,O=C(NCC(=O)O)C(NC(=O)CCC(C(=O)O)N)CS
40,11gs,NaN,NaN,"-logKd/Ki=5.82,Ki=1.5uM",NaN,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,O=C(NCC(=O)O)C(NC(=O)CCC(C(=O)O)N)CS
51,13gs,NaN,Ki=24uM,"-logKd/Ki=4.62,Ki=24uM",NaN,P09211,MPPYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKA...,O=S(=O)(Nc1ncccc1)c3ccc(/N=N/c2cc(C(=O)O)c(O)c...
53,13gs,NaN,Ki=24uM,NaN,NaN,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,O=S(=O)(Nc1ncccc1)c3ccc(/N=N/c2cc(C(=O)O)c(O)c...
61,16pk,NaN,NaN,"-logKd/Ki=5.22,Ki=6uM",NaN,P07378,EKKSINECDLKGKKVLIRVDFNVPVKNGKITNDYRIRSALPTLKKV...,FC(F)(P(=O)(O)O)CCCC(F)(F)P(=O)(O)OP(=O)(O)OCC...
...,...,...,...,...,...,...,...,...
893350,9hvp,NaN,NaN,"-logKd/Ki=8.35,Ki=4.5nM",NaN,P12497,PQITLWQRPLVTIKIGGQLKEALLDTGADDTVLEEMNLPGRWKPKM...,O=C(OCc1ccccc1)NC(C(=O)NC(Cc2ccccc2)C(O)C(NC(=...
893362,9icd,NaN,Kd=125uM,"-logKd/Ki=3.90,Kd=125uM",NaN,P08200,SKVVVPAQGKKITLQNGKLNVPENPIIPYIEGDGIGVDVTPAMLKV...,NC(=O)c1ccc[n+](c1)[CH]2O[CH](CO[P]([O-])(=O)O...
893502,9nse,NaN,Ki=0.039uM,NaN,NaN,P29473,GPKFPRVKNWELGSITYDTLCAQSQQDGPCTPRRCLGSLVLPRKLQ...,[N@H]=C([Se]CC)N
893508,9nse,NaN,Ki=0.039uM,NaN,NaN,P29473,KFPRVKNWELGSITYDTLCAQSQQDGPCTPRRCLGSLVLPRKLQTR...,[N@H]=C([Se]CC)N
893509,9nse,NaN,Ki=0.039uM,NaN,NaN,P29473,KFPRVKNWELGSITYDTLCAQSQQDGPCTPRRCLGSLVLPRKLQTR...,[N@H]=C([Se]CC)N

We need to parse the activities to work with them

In [10]:
import re

def parse_value(line):
    if type(line) is float:
        return None
    line = line.strip()
    if not line or line.lower() == 'nan':
        return None
    # Split the line by commas
    segments = line.split(',')
    for segment in segments:
        segment = segment.strip()
        # Ignore any log values
        if segment.startswith(('Ki=', 'Kd=', 'IC50=')):
            # Use regex to extract the measurement
            match = re.match(r'(Ki|Kd|IC50)=([<>~]=?)?([0-9.]+)([a-zA-Zμ]+M)$', segment)
            if match:
                measure_type = match.group(1)
                inequality = match.group(2) or ''
                if inequality.strip('=') in ('<', '>', '<=', '>=', '~'):
                    return None  # Contains inequality sign
                value = float(match.group(3))
                unit = match.group(4)
                # Convert units to nM
                if unit in ('nM', 'nM'):
                    value_in_nM = value
                elif unit in ('uM', 'μM'):
                    value_in_nM = value * 1000
                elif unit == 'pM':
                    value_in_nM = value * 0.001
                else:
                    return None  # Unsupported unit
                return (measure_type, value_in_nM)
    return None  # No Ki, Kd, or IC50 value found

In [11]:
result_no_bdb['activity_pdbbind_parsed'] = result_no_bdb['activity_pdbbind'].map(parse_value)
result_no_bdb['activity_bmoad_parsed'] = result_no_bdb['activity_bmoad'].map(parse_value)
result_no_bdb['activity_lit_parsed'] = result_no_bdb['activity_lit'].map(parse_value)

/var/tmp/ipykernel_114923/174591133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_no_bdb['activity_pdbbind_parsed'] = result_no_bdb['activity_pdbbind'].map(parse_value)
/var/tmp/ipykernel_114923/174591133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_no_bdb['activity_bmoad_parsed'] = result_no_bdb['activity_bmoad'].map(parse_value)
/var/tmp/ipykernel_114923/174591133.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_no_bdb['activity_lit_parsed'] = result_no_bdb['activity_lit'].map(parse_value)

In [12]:
non_empty_new_data = result_no_bdb.dropna(subset=['activity_pdbbind_parsed', 'activity_bmoad_parsed', 'activity_lit_parsed'], how='all').reset_index(drop=True)
non_empty_new_data

,PDB,activity_lit,activity_bmoad,activity_pdbbind,activity_bdb,uniprot_id,sequence,smiles,activity_pdbbind_parsed,activity_bmoad_parsed,activity_lit_parsed
0,11gs,NaN,NaN,"-logKd/Ki=5.82,Ki=1.5uM",NaN,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,O=C(NCC(=O)O)C(NC(=O)CCC(C(=O)O)N)CS,"(Ki, 1500.0)",None,None
1,11gs,NaN,NaN,"-logKd/Ki=5.82,Ki=1.5uM",NaN,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,O=C(NCC(=O)O)C(NC(=O)CCC(C(=O)O)N)CS,"(Ki, 1500.0)",None,None
2,13gs,NaN,Ki=24uM,"-logKd/Ki=4.62,Ki=24uM",NaN,P09211,MPPYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKA...,O=S(=O)(Nc1ncccc1)c3ccc(/N=N/c2cc(C(=O)O)c(O)c...,"(Ki, 24000.0)","(Ki, 24000.0)",None
3,13gs,NaN,Ki=24uM,NaN,NaN,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,O=S(=O)(Nc1ncccc1)c3ccc(/N=N/c2cc(C(=O)O)c(O)c...,None,"(Ki, 24000.0)",None
4,16pk,NaN,NaN,"-logKd/Ki=5.22,Ki=6uM",NaN,P07378,EKKSINECDLKGKKVLIRVDFNVPVKNGKITNDYRIRSALPTLKKV...,FC(F)(P(=O)(O)O)CCCC(F)(F)P(=O)(O)OP(=O)(O)OCC...,"(Ki, 6000.0)",None,None
...,...,...,...,...,...,...,...,...,...,...,...
23809,9hvp,NaN,NaN,"-logKd/Ki=8.35,Ki=4.5nM",NaN,P12497,PQITLWQRPLVTIKIGGQLKEALLDTGADDTVLEEMNLPGRWKPKM...,O=C(OCc1ccccc1)NC(C(=O)NC(Cc2ccccc2)C(O)C(NC(=...,"(Ki, 4.5)",None,None
23810,9icd,NaN,Kd=125uM,"-logKd/Ki=3.90,Kd=125uM",NaN,P08200,SKVVVPAQGKKITLQNGKLNVPENPIIPYIEGDGIGVDVTPAMLKV...,NC(=O)c1ccc[n+](c1)[CH]2O[CH](CO[P]([O-])(=O)O...,"(Kd, 125000.0)","(Kd, 125000.0)",None
23811,9nse,NaN,Ki=0.039uM,NaN,NaN,P29473,GPKFPRVKNWELGSITYDTLCAQSQQDGPCTPRRCLGSLVLPRKLQ...,[N@H]=C([Se]CC)N,None,"(Ki, 39.0)",None
23812,9nse,NaN,Ki=0.039uM,NaN,NaN,P29473,KFPRVKNWELGSITYDTLCAQSQQDGPCTPRRCLGSLVLPRKLQTR...,[N@H]=C([Se]CC)N,None,"(Ki, 39.0)",None
23813,9nse,NaN,Ki=0.039uM,NaN,NaN,P29473,KFPRVKNWELGSITYDTLCAQSQQDGPCTPRRCLGSLVLPRKLQTR...,[N@H]=C([Se]CC)N,None,"(Ki, 39.0)",None

In [13]:
def get_activity(row):
    if row['activity_pdbbind_parsed'] is not None:
        return row['activity_pdbbind_parsed']
    if row['activity_bmoad_parsed'] is not None:
        return row['activity_bmoad_parsed']
    return row['activity_lit_parsed']

def unfold_activities(value):
    # Return (Kd, Ki, IC50)
    measure, activity = value
    if measure == 'Kd':
        return (activity, None, None)
    if measure == 'Ki':
        return (None, activity, None)
    if measure == 'IC50':
        return (None, None, activity)

In [14]:
single_activity = non_empty_new_data.apply(get_activity, axis=1)
single_activity

0          (Ki, 1500.0)
1          (Ki, 1500.0)
2         (Ki, 24000.0)
3         (Ki, 24000.0)
4          (Ki, 6000.0)
              ...
23809         (Ki, 4.5)
23810    (Kd, 125000.0)
23811        (Ki, 39.0)
23812        (Ki, 39.0)
23813        (Ki, 39.0)
Length: 23814, dtype: object

In [15]:
unfolded_activities = single_activity.apply(unfold_activities)
unfolded_activities = pd.DataFrame(unfolded_activities.to_list(), columns=['Kd', 'Ki', 'IC50'])
unfolded_activities

             Kd       Ki  IC50
0           NaN   1500.0   NaN
1           NaN   1500.0   NaN
2           NaN  24000.0   NaN
3           NaN  24000.0   NaN
4           NaN   6000.0   NaN
...         ...      ...   ...
23809       NaN      4.5   NaN
23810  125000.0      NaN   NaN
23811       NaN     39.0   NaN
23812       NaN     39.0   NaN
23813       NaN     39.0   NaN

[23814 rows x 3 columns]

In [16]:
biolip = pd.DataFrame({
    'smiles': non_empty_new_data['smiles'],
    'uniprot_id': non_empty_new_data['uniprot_id'],
    'sequence': non_empty_new_data['sequence'],
    'kd': unfolded_activities['Kd'],
    'ki': unfolded_activities['Ki'],
    'ic50': unfolded_activities['IC50'],
})
biolip['source'] = 'biolip'
biolip['ec50'] = None
biolip['ec50_sign'] = None
biolip['ki_sign'] = biolip['ki'].apply(lambda x: None if pd.isna(x) else '=')
biolip['kd_sign'] = biolip['kd'].apply(lambda x: None if pd.isna(x) else '=')
biolip['ic50_sign'] = biolip['ic50'].apply(lambda x: None if pd.isna(x) else '=')
biolip

,smiles,uniprot_id,sequence,kd,ki,ic50,source,ec50,ec50_sign,ki_sign,kd_sign,ic50_sign
0,O=C(NCC(=O)O)C(NC(=O)CCC(C(=O)O)N)CS,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,NaN,1500.0,NaN,biolip,None,None,=,None,None
1,O=C(NCC(=O)O)C(NC(=O)CCC(C(=O)O)N)CS,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,NaN,1500.0,NaN,biolip,None,None,=,None,None
2,O=S(=O)(Nc1ncccc1)c3ccc(/N=N/c2cc(C(=O)O)c(O)c...,P09211,MPPYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKA...,NaN,24000.0,NaN,biolip,None,None,=,None,None
3,O=S(=O)(Nc1ncccc1)c3ccc(/N=N/c2cc(C(=O)O)c(O)c...,P09211,PYTVVYFPVRGRCAALRMLLADQGQSWKEEVVTVETWQEGSLKASC...,NaN,24000.0,NaN,biolip,None,None,=,None,None
4,FC(F)(P(=O)(O)O)CCCC(F)(F)P(=O)(O)OP(=O)(O)OCC...,P07378,EKKSINECDLKGKKVLIRVDFNVPVKNGKITNDYRIRSALPTLKKV...,NaN,6000.0,NaN,biolip,None,None,=,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
23809,O=C(OCc1ccccc1)NC(C(=O)NC(Cc2ccccc2)C(O)C(NC(=...,P12497,PQITLWQRPLVTIKIGGQLKEALLDTGADDTVLEEMNLPGRWKPKM...,NaN,4.5,NaN,biolip,None,None,=,None,None
23810,NC(=O)c1ccc[n+](c1)[CH]2O[CH](CO[P]([O-])(=O)O...,P08200,SKVVVPAQGKKITLQNGKLNVPENPIIPYIEGDGIGVDVTPAMLKV...,125000.0,NaN,NaN,biolip,None,None,None,=,None
23811,[N@H]=C([Se]CC)N,P29473,GPKFPRVKNWELGSITYDTLCAQSQQDGPCTPRRCLGSLVLPRKLQ...,NaN,39.0,NaN,biolip,None,None,=,None,None
23812,[N@H]=C([Se]CC)N,P29473,KFPRVKNWELGSITYDTLCAQSQQDGPCTPRRCLGSLVLPRKLQTR...,NaN,39.0,NaN,biolip,None,None,=,None,None
23813,[N@H]=C([Se]CC)N,P29473,KFPRVKNWELGSITYDTLCAQSQQDGPCTPRRCLGSLVLPRKLQTR...,NaN,39.0,NaN,biolip,None,None,=,None,None

In [17]:
biolip.to_csv('biolip.csv', index=False)